h1 {
background-color: red;
color: blue;
}

h2 {
background-color: orange;
color: limegreen;
}

h3 {
background-color: yellow;
color: goldenrod;
}

h4 {
background-color: green;
color: darkred;
}

h5 {
background-color: blue;
color: rgb(18, 53, 123);
}

h6 {
background-color: purple;
color: rgb(255, 166, 0)
}

p {
background-color: violet;
color:pink
}

ol {
margin-top: 30px;
}

li {
border: 5px solid darkgreen;
padding: 5px;
margin: 10px 0;
}

li:nth-child(1) {
color: hotpink;
}

li:nth-child(3) {
background-color: beige;
}